body
{
	background-color: #FFD812;
	font-family: "Helvetica Neue", Sans-serif;
	margin: 0em;
}

#center
{
	position: relative;
	left: 10%;
	width: 80%;
}

header
{
	position: relative;
	left: 50%;
}

main
{
	font-size: 1.5em;
	margin: 2em;
	padding: 1em;
	background-color: #FFFFFF;

}

footer
{
	margin: 0;
	left: -12.5%;
	padding: 2em;
	background-color: #000000;
	min-width: 120%;
	color:  #FFD812;
	position: absolute;
}

#sidebar 
{
	background-color: #FFFFFF;
	position: fixed;
  	min-height: 100em;
  	max-width: 20%
  	min-width: 20%
  	width: 20%;
  	left: -25%;
  	top: 0;
  	padding-right: 1em;
}

#sidebarList
{	
	font-size: 1.8em;
	list-style-type: none;
	letter-spacing: 0.1em;
	line-height: 2;
}

#sidebarList li:hover 
{
	cursor: pointer;
	color: #FFD812;
}

#toggleSidebar{
	position: fixed;
	left: 1%;
	top: 2%;
	width: 44px;
	height: 44px;
	background-color: #444444;
	z-index: 9000;
}
