body
{
	background-color: #FFD812;
	font-family: "Helvetica Neue", Sans-serif;
	margin: 0em;
}

#center
{
	position: relative;
	width: 100%;
}

header
{
	position: relative;
	left: 50%;
	width: 50%;
}

main
{
	font-family: "Palatino Linotype", serif;
	font-size: 1.2em;
	margin: 2em;
	padding: 2em;
	background-color: #FFFFFF;

}

footer
{
	left: 0;
	bottom: 0;
	padding-left: 2em;
	background-color: #000000;
	min-width: 140%;
	color:  #FFD812;
	position: absolute;
}

#sidebar 
{
	background-color: #FFFFFF;
	position: fixed;
  	padding-right: 1em;
	width: 20%;
  	height: 100%;
  	float: left;
  	left: -21%;
  	top: 0px;
}

#sidebarList
{	
	font-size: 1.8em;
	list-style-type: none;
	letter-spacing: 0.1em;
	line-height: 2;
}

#sidebarList li:hover 
{
	cursor: pointer;
	color: #FFD812;
}

#toggleSidebar{
	position: fixed;
	left: 1%;
	top: 2%;
	width: 42px;
	height: 42px;
	background-color: #444444;
	z-index: 9000;
}
